.background {
  background-image: url("https://images.unsplash.com/photo-1559443922-3f698a0ff27a");
  background-position: center;
  background-size: cover;
}
.home-container {
  margin: 0 auto;
  width: 900px;
  padding: 144px 0;
}
.custom-container {
  margin: 0 auto;
  width: 90%;
  padding: 144px 0;
}

.image-thumbnail {
  width: 640px;
  height: 640px;
  // padding: 50px;
}

.description {
  padding: 64px 0;
  width: 40%;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,26,30,1) 100%, rgba(0,212,255,1) 100%);
}

.western {
  font-family: 'Rye';
  font-size: 64px;
  color: white;
}

#ingredient {
  color: white;
  padding-left: 164px;
}

.white {
  color:white;
}
